.profile-container {
    min-height: 720px;
    display: inline-block;
    width: 100%;
    background-color: #2BC14B;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%2300a430' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
}
.profile-container > h1{
    color: white;
    font-size: 2rem;
    padding-top: 2%;
}
.profile-section {
    max-width: 60%;
    min-width: 400px;
    margin: 2% auto;
    min-height: 550px;
    border-radius: 10px; 
    display: flex;
    background-color: white;
    box-shadow: 1px 2px 2px rgb(156, 156, 156);
}
.left-profile-div {
    width: 35%;
    height: 600px;
    border-right: 2px solid gray;
}
.left-profile-div >img {
   vertical-align: middle;
   width: 70%;
   height: 30%;
   border-radius: 50%;
   border-width: 5px;
   margin: 5% 14% 
   /* border-color: gray; */
}
.left-profile-categories {
    width: 70%;
    margin: -10% auto;
    height: 50%;
}
.left-profile-categories >div {
    align-items: space-between;
}
.left-profile-categories >div >p{
    height: 3rem;
    text-align: center;
    font-size: 20px;
    padding-top: 5%;
    border-bottom: 2px solid gray;
}
.left-profile-categories >div >p:hover{
    background-color: rgba(72, 255, 72, 0.527);
}
.right-profile-div {
    width: 65%;
    height: 600px;;
}
.contact-info,
.help-info, .user-info {
    height: 80%;
    width: 80%;
    margin: 3rem auto;
    border-radius: 10px;
}
.contact-info > h1{
    font-size: 22px;
}
.privacy-info {
    height: 80%;
    width: 80%;
    margin: 3rem auto;
    border-radius: 10px; 
}
.hidden{
    display:none;
}

.profile-name {
    width: 80%;
    margin: 3rem auto;
    display: flex;
}
p
.user-inputs {
    width: 60%;
    align-content: space-between;
}
.labels, .user-inputs {
    width: 40%;
    padding: 3%;
}
.labels >h4 {
    border-radius: 3px;
    padding: 5%;
    background-color:white;
}
.user-inputs >p {
    padding: 7.5%;
    border-bottom: rgb(230, 230, 230) solid 2px;
}
.privacy-title, .useragreement-title{
    font-size: 25px;
}

.user-info >p {
    line-height: 2;
    overflow: auto;
    height: 90%;
}
.help-options {
    display: flex;
    height: 90%;
    flex-wrap: wrap;
    gap: 7%;
    text-align: center;
    padding-left: 1%;
}
.help-info >h1{
    font-size: 20px;
}
.help-options >div {
    width: 40%;
    min-width: 128px;
    background-color: rgba(241, 242, 243, 0.678);
    box-shadow: 1px 3px 2px rgba(201, 231, 210, 0.549);
    height:40%;
    border-radius: 10px;
}
.avatar-section {
    display: flex;
}
.avatar-uploader{
    width: 60%;
    margin: 0 15% 4% 11%;
    display: inline;
}
.file-upload{
    height: 2rem;
    width: 30%;
    margin-right: 15%;
}
.info-desk{
    height: 40%;
    padding-left: 10%;
    
}