
.desktop-details{
    width:100%;
    height: 50rem;
    background-color: #eff8f1;
}
.desktop-details >h1{
    margin: 0;
    padding: 2%;
    font-size: 1.3rem;
}

.tablet-badge-details{
    display: none;
}

/* Image and location */
.img-location{
    width: 80%;
    margin-left: 10%;
}
.img-location>img{
    width: 70%;
    max-height: 300px;
    min-width: 50%;
    margin-left: 14%;
}
.img-location>section{
    margin: 2% auto;
    display: flex;
    width:80%;
    height: 20px;
}
.img-location > section > p{
    margin-top: 2%;
    padding-left: 2%;
}


/* Description */

.description{
    width: 70%;
    margin: 0 auto;
}
.description>section>p{
    line-height:1.5;
}

/* Button */

.btn-sec{
    width:40%;
    height: 40px;
    margin: 0 auto;
    padding-bottom: 3%;
    padding-left: 10%;
}

/* Pick up  */

.info-pickup{
    width: 85%;
    margin: 0 auto;
}
.tablet-info-pickup{
    display: none;
}
.info-pickup>h4{
    text-align: center;
    color: red;
}
.pick-up-banner{
    padding-left: 10%;
}
.pickup-containers{
    display: flex;
}
.left-pickup{
    width: 20%;
}
.right-pickup{
    width: 78%;
    padding-left:2%;
}
.right-pickup-first{
    display:flex;
    height: 20px;
    width: 90%;
}
.right-pickup-first>p{
    display:inline;
    vertical-align: bottom;
    margin-top:0;
    margin-left:10px;
}
.right-pickup-second{
    line-height: 2;
    margin: 20px 0 0 10px;
}
.cancel{
    margin: 2% auto;
    color: #808080;
    border-bottom: 1px solid #808080;
    width: 25%;
    font-size: 13px;
    padding-top: 6%;
}
.cancel:hover{
    color: red;
}

/* Responsiveness */

/* Tablet */
@media only screen 
  and (min-width: 600px) 
  and (max-width: 991px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .tablet-badge-details{
        display: inline-block;
        background-color: #eff8f1;
        height: 60rem;
    }
    .desktop-details{
        display: none;
    }
    .tablet-info-pickup{
        display: block;
    }
    .tablet-info-pickup >h4{
        padding-left: 3%;
    }
    .top-pickup, .bottom-pickup{
       padding: 3%;
    }
    .badge-details >h1{
        margin: 0;
        padding: 2%;
        font-size: 1rem;
    }
    .cancel{
        min-width: 130px;
    }
  }

  @media only screen 
  and (min-width: 992px) 
  and (max-width: 1200px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .tablet-badge-details{
        height: 40rem;
    }
    .cancel{
        width: 45%;
    }
    .info-pickup{
        padding-bottom: 2%;
    }
    .desktop-details{
        height: 80rem;
    }
  }