
/* Footer */

.footer{
  background-color: #000000d2;
  height: 10rem;
  position: relative;
  display: inline-block;
  width: 100%;
}

.footer-box{
  color: white;
  width:20%;
}
.leaves-logo{
  height: 70%;
  margin: 14% auto;
}
  