.profile-container {
    min-height: 720px;
    display: inline-block;
    width: 100%;
    background: #B2F6FF;
    background: -webkit-linear-gradient(top, #ffb7b2, #FEFFF5);
    background: -moz-linear-gradient(top, #B2F6FF, #FEFFF5);
    background: linear-gradient(to bottom, #b2e9ffb7, #FEFFF5);
}
.profile-section {
    width: 60%;
    margin: 2% auto;
    min-height: 600px;
    border-radius: 10px; 
    display: flex;
    background-color: white;
    box-shadow: 1px 2px 2px rgb(156, 156, 156) ;
}
.left-profile-div {
    width: 35%;
    height: 600px;
    border-right: 2px solid gray;
}
.left-profile-div >img {
    width: 60%;
    height: 30%;
    margin: 13% 20%;
}
.left-profile-categories {
    width: 70%;
    margin: -10% auto;
    height: 50%;
}
.left-profile-categories >div {
    align-items: space-between;
}
.left-profile-categories >div >p{
    height: 3rem;
    text-align: center;
    font-size: 20px;
    padding-top: 5%;
    border-bottom: 2px solid gray;
}
.left-profile-categories >div >p:hover{
    background-color: rgba(72, 255, 72, 0.527);
}
.right-profile-div {
    width: 65%;
    height: 600px;;
}
.contact-info,
.help-info, .user-info {
    height: 80%;
    width: 80%;
    margin: 3rem auto;
    border-radius: 10px;
}
.privacy-info {
    height: 80%;
    width: 80%;
    margin: 3rem auto;
    border-radius: 10px; 
}
.hidden{
    display:none;
}

.profile-name {
    width: 80%;
    margin: 3rem auto;
    display: flex;
}
p
.user-inputs {
    width: 60%;
    align-content: space-between;
}
.labels, .user-inputs {
    width: 40%;
    padding: 3%;
}
.labels >h4 {
    border-radius: 3px;
    padding: 5%;
    background-color:white;
}
.user-inputs >p {
    padding: 7.5%;
    border-bottom: rgb(230, 230, 230) solid 2px;
}
.privacy-title, .useragreement-title{
    font-size: 25px;
}

.user-info >p {
    line-height: 2;
    overflow: auto;
    height: 90%;
}
.help-options {
    display: flex;
    height: 90%;
    flex-wrap: wrap;
    gap: 7%;
    text-align: center;
    padding-left: 6%;
}
.help-options >div {
    width: 40%;
    background-color: rgba(241, 242, 243, 0.678);
    box-shadow: 1px 3px 2px gray;
    height:40%;
    border-radius: 10px;
}