/* Nav */
nav{
    display: inline-block;
    width: 100%;
    background-color: rgb(15,30,26);
    font-size: 16px;
  }
  .nav-inner-home, .footer-inner{ 
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 2% 2%;
  }
  .mobile-menu{
    display: none;
  }
  .info{
    display: flex;
    width: 50%;
    justify-content: space-around;
    margin: 2% 2%; 
    font-size: 1.2rem;
  }
  .link:hover{
    border-bottom: 2px solid var(--green);
  }
 .nav-inner-home >a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: var(--marmelad);
  }

   /* ----Logo */
  .logo-section-home{
    display:flex;
    margin-top: -.3rem;
  }
  .logo-section-home>p{
    font-family: var(--marmelad);
    font-size: 25px;
    color: rgb(255, 255, 255);
  }
  .logo-half-home{
    color: rgb(35, 215, 35);
    font-size: 25px;
  }
  #page-wrap >h1{
    color: white;
    display: none;
  }
/* Responsiveness */

/* Portrait and Landscape */
@media only screen 
  and (min-width: 600px) 
  and (max-width: 991px) 
  and (-webkit-min-device-pixel-ratio: 1) {

  .nav-inner-home{
    display:none;
  }
  .mobile-menu{
    display: block;
    height: 6rem;
  }
  .mobile-menu-inner{
    display: flex;
  }
  .logo-section-home{
    padding-top: 1.5%;
  }
}

@media only screen 
  and (min-device-width: 992px) 
  and (max-device-width: 1200px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .mobile-menu{
      display: none;
    }
   
}