/* Nav */
nav{
    display: inline-block;
    width: 100%;
    background-color: rgb(250, 246, 234);
    font-size: 16px;
  }
  .nav-inner-home, .footer-inner{ 
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 2% 2%;
  }
  .link:hover{
    border-bottom: 2px solid #00a896; 
  }
 .nav-inner-home >a{
    text-decoration: none;
    color: rgb(45, 45, 45);
  }

   /* ----Logo */
  .logo-section-home{
    display:flex;
    margin-top: -1rem;
  }
  .logo-section-home>p{
    font-family: var(--marmelad);
    font-size: 25px;
    color: rgb(0, 0, 0);
  }
  .logo-half-home{
    color: rgb(0, 67, 55);
    font-size: 25px;
  }
  
